<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="FPerfil">
    <img src="{{photoURL}}">
  </ion-avatar>
  <div class="pesoPerfil">
    <ion-label >70 KG</ion-label>
  </div>
</ion-content>