<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img class="icon" src="assets/icon/icon.svg" />
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" shape="round" (click)="login()">Entrar</ion-button>
      <br>
      <p class="ion-text-center" routerLink="/register">¿Aun no tienes una cuenta?</p>
    </ion-card-content>
  </ion-card>
</ion-content>
