<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <div class="icono" slot="start">
          <img src="assets/icon/icon.svg">
        </div>
        <ion-title>MyMate</ion-title>
        <ion-icon class="btnMenu" name="arrow-back-outline" slot="end" (click)="closeMenu()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/icon/addPeso.svg">
          </ion-avatar>
          <ion-label>MyWeight</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/icon/note.svg">
          </ion-avatar>
          <ion-label>MyNote</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/icon/task.svg">
          </ion-avatar>
          <ion-label>MyTasks</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
