<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Peso</ion-title>
    <ion-icon class="btnMenu" name="checkmark" slot="end" (click)="savePeso()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Peso</ion-label>
    <ion-input type="text" name="peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="MM DD" placeholder="Selecciona Fecha" name="date"></ion-datetime>
  </ion-item>

  <!-- Añadir opcion se subir foto -->
</ion-content>