<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
    <ion-icon class="btnMenu" name="arrow-forward-outline" slot="start" (click)="openFirst()"></ion-icon>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides">
      <div>
        <img [src]="slide.img" />
        <br/>
        <ion-chip color="primary" [routerLink]="slide.link">
          <ion-label>{{slide.button}}</ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-chip>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>