#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-slides {
  height: 100%;
}

img{
  width: 250px;
}

ion-label{
  font-size: 20px;
}

.icono{
  width: 50px;
  margin-left: 10px;
}

.btnMenu{
  font-size: 25px;
  margin-left: 5px;
}